{% raw %}
<div class='profile_tab_content hidden' id="profile_tab_forgotten_password_content">
  <div class='row'>
    <div class="span5" >
    {% if user_type == 'local' %}
      <div id="legend">
        <legend class="">
          Reset Password
          <span class="help-block">Enter your email address and we'll send you instructions for resetting your password.</span>
        </legend>
      </div>
      <div id='user_update_form' class=''>
       <form  onsubmit="Ctesius.Actions.resetPassword(this); return false;" class="form-horizontal">
        <fieldset>
           <label class="control-label" for="input01">Email</label>
            <div class="controls">
              <input type="text" name='email' class="input">
              <p class="help-block"></p>
            </div>
            <div class="control-group buttoned-control-group">
              <div class="controls pull-right">
                <button type="submit">Reset Password</button>
              </div>
            </div>
        </fieldset>
       </form>
      </div>
    {% else %}
        <div id="legend">
          <legend class="">
            Reset Password
            <span class="help-block">Use the form below to update your password</span>
          </legend>
        </div>
        <div id='user_update_form' class=''>
          <form  onsubmit="Ctesius.Actions.updateUser(this, ['password']); return false;" class="form-horizontal">
            <fieldset>
                 <label class="control-label" for="input01">Password</label>
                <div class="controls">
                  <input type="password" name='password' placeholder="" class="input">
                  <p class="help-block"></p>
                </div>
                <label class="control-label" for="input01">Confirm password</label>
                <div class="controls">
                  <input type="password" name='password_confirmation' placeholder="" class="input">
                  <p class="help-block"></p>
                </div>
              <div class="control-group buttoned-control-group">
                <div class="controls pull-right">
                  <button type="submit">Reset Password</button>
                </div>
              </div>
            </fieldset>
         </form>
        </div>
    {% endif %}
    </div>
  </div>
</div>
{% endraw %}
