{% raw %}
  <script id="user_micro_template" type="text/liquid">
    {% if user_type == 'persisted' %}
      <img src='/property/uk/liquid_assets/images/unknown-user-avatar.png' alt='user-avatar' />
      <h3>{{ user.first_name}} {{ user.last_name }}</h3>
      <a id ='profile_link' class="header" href="#user">View profile</a> | 
      <a class="submit log_out" onclick = "Ctesius.Actions.logUserOut()">Sign Out</a> 
      <p class='status'></p>
    {% else %}
      <img src='/property/uk/liquid_assets/images/unknown-user-avatar.png' alt='' />
      <h3>Guest</h3>
      <br>
      <a id ='profile_link' style='float:left;' class="header" href="#user">Sign in or Register </a>
    {% endif %}
  </script>
{% endraw %}